<%include ./partials/header%>
	<div  style="height: 300px; padding: 0px; ">
		<!-- <img style="width: 100%; height: 80%;" src=<%=user.coverPhoto%> > -->
		<span style="align: right;">
			<p class="username"><%=user.name %></p>
			<img class="profile-pic" src=<%=user.profilePhoto%> >
		</span>
	</div>
	<div class="profile-container">
		<a class="btn btn-primary profile-buttons" href="/profile/<%=user._id%>/about"><i class="fas fa-user-friends"></i>About</a>
		<a class="btn btn-primary profile-buttons" href="/posts/new"><i class="fas fa-plus"></i>New Post</a>
		<a class="btn btn-primary profile-buttons" href="/bikes"><i class="fas fa-info"></i>Bike Info</a>
		<a href="/group/new" class="btn btn-primary profile-buttons"><i class="fas fa-user-plus"></i>Create Group</a>
		<div class="description">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently 
		</div>
	</div>
	
	
	<!-- <div class="row text-center">
		<div class="col-sm-2">
			<h2>GROUPS</h2>
			<% user.groups.forEach(function(event){ %>
				<a href="/group/<%=event._id%>" class="btn btn-primary"><%=event.name%></a>
			<%})%>

		</div> -->
		
			
	</div>
	<p class="adventures">Your Adventures!</p>
	<div class="row text-center profile-newpost">
		<%data.sort(function(a,b){%>
		<%return b.created-a.created%>
		<%})%>
		<%data.forEach(function(event){ %>
			<%if(event.author.id.equals(user._id)){%>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src=<%=event.image%>>
						<div class="caption">
							<h4><%= event.name %></h4>
							<p><a href="/posts/<%=event._id%>" class="btn btn-primary">MORE INFO</a></p>
						</div>
					</div>					
				</div>
			<%}%>
		<%})%>
			
	</div>
	
<%include ./partials/footer%>